# Data & Visualization
matplotlib
pandas
numpy
yfinance

# API & Web
fastapi
uvicorn
httpx
streamlit

# Database & Logic
sqlalchemy
psycopg2-binary
pydantic
python-dotenv

# Security
python-jose[cryptography]
passlib[bcrypt]
