# Web & API
streamlit
fastapi
uvicorn
httpx

# Data & Finance
yfinance
matplotlib
pandas
numpy

# Database & Logic 
sqlalchemy
psycopg2-binary
pydantic
python-dotenv

# Security
python-jose[cryptography]
passlib[bcrypt]
